<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Create poll</title>
<style>
    .errorlist {
        color: red;
    }
</style>
</head>
<body>

<h1>Create new poll</h1>
{% if success %}<p style="color:green">{{ success }}</p>{% endif %}
<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
    {{ form.as_p }}
    <hr>
    <h2>Add question</h2>
    <table>
        {{ formset }}
    </table>
    <p><input type="submit" value="create"></p>
</form>
</body>
</html>